/**
  * Grid
  */

.clearfix::after,
.l-row::after,
[class*="l-column"]::after {
  content: "";
  display: table;
  clear: both;
}
.l-row {
  width: 100%;
  margin: 0 auto;
  max-width: 1111px;
}
  .l-row .l-row {
    margin-left: -11px;
    margin-right: -11px;
    width: auto;
    max-width: none;
  }
[class*="l-column"] {
  position: relative;
  padding: 0 11px;
  width: 100%;
  float: left;
}

@media (min-width: 31.3125em) {
  .l-column--medium-2 { width: 16.6666666666%; }
  .l-column--medium-3 { width: 25%; }
  .l-column--medium-4 { width: 33.3333333333%; }
  .l-column--medium-6 { width: 50%; }
  .l-column--medium-8 { width: 66.6666666667%; }
  .l-column--medium-9 { width: 75%; }
}
@media (min-width: 64em) {
  .l-column--large-3 { width: 25%; }
  .l-column--large-4 { width: 33.3333333333%; }
  .l-column--large-6 { width: 50%; }
  .l-column--large-8 { width: 66.6666666667%; }
  .l-column--large-9 { width: 75%; }
  .l-column--large-fifth { width: 20%; }
}

.l-row.display--flex { flex-wrap: wrap; }
