/**
 * Helpers
 */

 // Show / Hide
 .hidden { display: none; }

 @media print {
   .hidden--print { display: none; }
 }


 // A11y
 .a11y {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position:  absolute;
   width: 1px;
 }
  .a11y.visible--focus:focus {
    border: inherit;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    padding: auto;
    width: auto;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }
